{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div class="row first">

        <h1 class="text-center">Bienvenue dans l'univers de TOUMAI !</h1>
        <a href="#">
            <img src="{{ asset('img/toumain_jauni.png') }}">
        </a>
        <a id="button" href="{{ path('game') }}">Jouer</a>

    </div>

    <div class="row second">
        <div>
            <h2 class="text-center">Comment Jouer ?</h2>

        </div>

        <div class="box">

            <p>
                Dans un monde froid et hostile, votre but premier est de récupérer le maximum de ressources pour acquérir le feu.
            </p>
            <div id="règleslinks">
                <a id="leftbottom" href="#">Lire les règles</a><a id="rightbottom" href="#">Lire les règles en vidéo</a>

            </div>

        </div>

        <div class="pied">
            <a href="#">
                <img src="{{ asset('img/logo_fb.png') }}">
            </a>
            <a href="#">
                <img src="{{ asset('img/logo_insta.png') }}">
            </a>
            <a href="#">
                <img src="{{ asset('img/logo_twi.png') }}">
            </a>
        </div>
    </div>




{% endblock %}
