{% extends 'base.html.twig' %}

{% block title %}Card{% endblock %}

{% block body %}
    <h1>Card</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ card.id }}</td>
            </tr>
            <tr>
                <th>Camel</th>
                <td>{{ card.camel ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Ressources</th>
                <td>{{ card.ressources }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ card.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('card_index') }}">back to list</a>

    <a href="{{ path('card_edit', {'id': card.id}) }}">edit</a>

    {{ include('card/_delete_form.html.twig') }}
{% endblock %}
