{% extends 'base.html.twig' %}

{% block title %}Game index{% endblock %}

{% block body %}
    <h1>Game index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tokens</th>
                <th>Partie_score_final</th>
                <th>Defausse</th>
                <th>Statut</th>
                <th>Terrain</th>
                <th>SpecialTokens</th>
                <th>JoueurActif</th>
                <th>Pioche</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.tokens ? game.tokens|json_encode : '' }}</td>
                <td>{{ game.partieScoreFinal ? game.partieScoreFinal|join(', ') : '' }}</td>
                <td>{{ game.defausse ? game.defausse|json_encode : '' }}</td>
                <td>{{ game.statut ? 'Yes' : 'No' }}</td>
                <td>{{ game.terrain ? game.terrain|json_encode : '' }}</td>
                <td>{{ game.specialTokens ? game.specialTokens|json_encode : '' }}</td>
                <td>{{ game.joueurActif }}</td>
                <td>{{ game.pioche ? game.pioche|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('game_show', {'id': game.id}) }}">show</a>
                    <a href="{{ path('game_edit', {'id': game.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('game_new') }}">Create new</a>
{% endblock %}
