{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <div class="row" id="plateau">
        {{ include('game/plateau.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        function selection() {
            $(this).css('border', '3px solid red')
        }

        var arrayTerrain = [];
        var arrayJoueur = [];
        var timer;
        var timeStop = false
        $(document).ready(function () {
            refreshPlateau()


            $(document).on('click', '.carte_terrain', function () {
                var id = $(this).attr("id");
                if (arrayTerrain.indexOf(id) == -1) {
                    if (arrayTerrain.length == 5) {
                        console.log('Vous ne pouvez pas séléctionenr plus de cinq cartes wsh')
                        $(this).css('border', 'none')

                    } else {
                        arrayTerrain.push(
                            id
                        )
                        console.log("Ajout de " + id)
                        $(this).css('border', '3px solid red')

                    }


                } else {
                    console.log(arrayTerrain.indexOf(id))
                    console.log("Retrait de " + id)
                    $(this).css('border', 'none')
                    arrayTerrain.splice(0, id)
                    console.log(arrayTerrain.indexOf(id))
                }
                console.log("Tableau actuel: " + arrayTerrain)
            });

            $(document).on('click', '.carte_joueur', function () {
                var id = $(this).attr("id");
                if (arrayJoueur.indexOf(id) == -1) {
                    if (arrayJoueur.length == 5) {
                        console.log('Vous ne pouvez pas séléctionenr plus de cinq cartes wsh')
                        $(this).css('border', 'none')

                    } else {
                        arrayJoueur.push(
                            id
                        )
                        console.log("Ajout de " + id)
                        $(this).css('border', '3px solid red')

                    }


                } else {
                    console.log(arrayJoueur.indexOf(id))
                    console.log("Retrait de " + id)
                    $(this).css('border', 'none')
                    arrayJoueur.splice(0, id)
                    console.log(arrayJoueur.indexOf(id))
                }
                console.log("Tableau joueur actuel: " + arrayJoueur)
            });

        })

        //PRENDRE
        $(document).on("click", '#prendre', function () {
            console.log('prendre')
            $.ajax({
                url: "{{ path('prendre_action', {game: game.id}) }}",
                data: {arrayTerrain: arrayTerrain},
                method: 'POST',
                success: function (data) {
                    console.log(data)
                     if ( data =='tropdecarte') {
                        alert('Vous ne pouvez pas posséder plus de 7 cartes')
                    }else if(data == 'unecarteseulement') {
                         alert('Vous ne pouvez prendre quune carte');
                     } else {
                        $('#plateau').empty().load("{{ path('refresh_plateau', {game:game.id}) }}")
                        $('#plateau').show()
                        clearInterval(timer)
                        timeStop = false
                    }
                }
            })
        })

        function refreshPlateau() {
            console.log('tic')
            $.ajax({
                url: "{{ path('qui_joue', {game: game.id}) }}",
                //data:,
                method: 'POST',
                success: function (data) {
                    console.log(data)
                    if (data == 'monadversairejoue') {
                        //$('#plateau').hide()
                        if (timeStop == true) {
                            timer = setInterval(refreshPlateau, 200);
                        }
                    } else {
                        $('#plateau').empty().load("{{ path('refresh_plateau', {game:game.id}) }}")
                        $('#plateau').show()
                        clearInterval(timer)
                        timeStop = false
                    }
                }
            })

        }
        //VENDRE
        $(document).on("click", '#vendre', function () {
            console.log('Vendaison')
            $.ajax({
                url: "{{ path('vendre_action', {game: game.id}) }}",
                data: {arrayJoueur: arrayJoueur},
                method: 'POST',
                success: function (data) {
                    console.log(data)
                    if ( data =='pasAssezCartesVendre') {
                        alert('Vous devez au moins séléctionner deux cartes')
                    }else if(data == 'unecarteseulement') {
                        alert('Vous ne pouvez prendre quune carte');
                    }else if (data == 'memeType') {
                        alert('VOUS DEVEZ AVOIR LES MEME TYPE')
                    }

                    else {
                        $('#plateau').empty().load("{{ path('refresh_plateau', {game:game.id}) }}")
                        $('#plateau').show()
                        clearInterval(timer)
                        timeStop = false
                    }
                }
            })
        })

        function refreshPlateau() {
            console.log('tic')
            $.ajax({
                url: "{{ path('qui_joue', {game: game.id}) }}",
                //data:,
                method: 'POST',
                success: function (data) {
                    console.log(data)
                    if (data == 'monadversairejoue') {
                        //$('#plateau').hide()
                        if (timeStop == true) {
                            timer = setInterval(refreshPlateau, 200);
                        }
                    } else {
                        $('#plateau').empty().load("{{ path('refresh_plateau', {game:game.id}) }}")
                        $('#plateau').show()
                        clearInterval(timer)
                        timeStop = false
                    }
                }
            })

        }
    </script>

{% endblock %}