{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <div class="row" id="plateau"
         style="background: url('{{ asset('assets/img/fond_du_feu.png') }}'); background-size: cover;">
        {{ include('game/plateau.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    <style>
        .selectedCard {
            border: red solid 3px;
        }
    </style>
    <script>
        function selection() {
            $(this).css('border', '3px solid red')
        }

        var arrayTerrain = [];
        var arrayJoueur = [];
        var timer;
        var timeStop = false
        $(document).ready(function () {
            $('#boutons').hide()
            refreshPlateau()

//SELECTION
            $(document).on('click', '.carte_terrain', function () {
                var id = $(this).attr("id");
                if (arrayTerrain.indexOf(id) == -1) {
                    if (arrayTerrain.length == 5) {
                        console.log('Vous ne pouvez pas séléctionenr plus de cinq cartes wsh')
                        $(this).removeClass("selectedCard")

                    } else {
                        arrayTerrain.push(
                            id
                        )
                        console.log("Ajout de " + id)
                        $(this).addClass("selectedCard")

                    }


                } else {
                    console.log(arrayTerrain.indexOf(id))
                    console.log("Retrait de " + id)
                    $(this).removeClass("selectedCard")
                    arrayTerrain.splice(0, id)
                    console.log(arrayTerrain.indexOf(id))
                }
                console.log("Tableau actuel: " + arrayTerrain)
            });

//SELECTION
            $(document).on('click', '.carte_joueur', function () {
                var id = $(this).attr("id");
                if (arrayJoueur.indexOf(id) == -1) {
                    if (arrayJoueur.length == 5) {
                        console.log('Vous ne pouvez pas séléctionenr plus de cinq cartes wsh')
                        $(this).removeClass("selectedCard")

                    } else {
                        arrayJoueur.push(
                            id
                        )
                        console.log("Ajout de " + id)
                        $(this).addClass("selectedCard")
                    }
                } else {
                    console.log(arrayJoueur.indexOf(id))
                    console.log("Retrait de " + id)
                    $(this).removeClass("selectedCard")
                    arrayJoueur.splice(0, id)
                    console.log(arrayJoueur.indexOf(id))
                }
                console.log("Tableau joueur actuel: " + arrayJoueur)
            });

        })

        //PRENDRE
        $(document).on("click", '#prendre', function () {
            console.log('prendre')
            $.ajax({
                url: "{{ path('prendre_action', {game: game.id}) }}",
                data: {arrayTerrain: arrayTerrain},
                method: 'POST',
                success: function (data) {
                    console.log(data)
                    if (data == 'tropdecarte') {
                        alert('Vous ne pouvez pas posséder plus de 7 cartes')
                    } else if (data == 'unecarteseulement') {
                        alert('Vous ne pouvez prendre quune carte');
                    } else {
                        console.log('prendu')
                        refreshPlateau();
                        arrayJoueur = [];
                        arrayTerrain = [];
                        timeStop = false
                    }
                }
            })
        })


        //VENDRE
        $(document).on("click", '#vendre', function () {
            console.log('Vendaison')
            $.ajax({
                url: "{{ path('vendre_action', {game: game.id}) }}",
                data: {arrayJoueur: arrayJoueur},
                method: 'POST',
                success: function (data) {
                    console.log(data)

                    if (data.check == "error") {
                        alert(data.message)
                    } else {
                        console.log('prendu')
                        refreshPlateau();
                        arrayJoueur = [];
                        arrayTerrain = [];
                        timeStop = false
                    }
                }
            })
        })
        //ECHANGER
        $(document).on("click", '#echange', function () {
            console.log('echangeation')
            $.ajax({
                url: "{{ path('echange_action', {game: game.id}) }}",
                data: {arrayJoueur: arrayJoueur, arrayTerrain: arrayTerrain},
                method: 'POST',
                success: function (data) {
                    console.log(data)

                    if (data.check == "error") {
                        alert(data.message)
                    } else {
                        console.log('prendu')
                        refreshPlateau();
                        arrayJoueur = [];
                        arrayTerrain = [];
                        timeStop = false
                    }
                }
            })
        })

        function refreshPlateau() {
            console.log('refreshplateau')
            $.ajax({
                url: "{{ path('qui_joue', {game: game.id}) }}",
                //data:,
                method: 'POST',
                success: function (data) {
                    console.log(data)
                    if (data == 'monadversairejoue') {
                        $('#boutons').hide()
                        if (timeStop == false) {
                            console.log('tac');
                            timer = setInterval(refreshPlateau, 2000);
                            timeStop = true;
                        }
                    } else {
                        $('#plateau').empty().load("{{ path('refresh_plateau', {game:game.id}) }}")
                        $('#plateau').show()
                        clearInterval(timer)
                        timeStop = true
                    }
                }
            })
        }
    </script>

{% endblock %}